<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    RewriteBase /back
    php_value upload_max_filesize 25M
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [NC,L]
</IfModule>